footer {
  font-size: var(--font-sm);
}

.footer__top {
  background-color: var(--background-pink);
}

.footer__section {
  margin-top: 2.5rem;
}

.footer_title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .5rem;
}

.footer_text {
  margin-bottom: .5rem;
}

.visa-img {
  margin-right: 1.5rem;
}

.footer__bottom {
  background-color: var(--light-pink);
  color: var(--white);
  font-weight: bold;
  padding: 1.5rem;
}

.footer__bottom-container {
  display: flex;
  justify-content: center;
}